# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

submission/
*.pdf
*.aux
*.log
submission.zip

src/test/resources/orders.tbl
src/test/resources/customer.tbl

*.crc
output.csv
src/main/resources/car.csv
src/main/resources/schema.csv
src/main/resources/lineitem.csv